@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --color-primary-50: 0.962 0.018 272.314; /* oklch(.962 .018 272.314) */
    --color-primary-100: 0.93 0.034 272.788; /* oklch(.93 .034 272.788) */
    --color-primary-200: 0.87 0.065 274.039; /* oklch(.87 .065 274.039) */
    --color-primary-300: 0.785 0.115 274.713; /* oklch(.785 .115 274.713) */
    --color-primary-400: 0.673 0.182 276.935; /* oklch(.673 .182 276.935) */
    --color-primary-500: 0.585 0.233 277.117; /* oklch(.585 .233 277.117) */
    --color-primary-600: 0.511 0.262 276.966; /* oklch(.511 .262 276.966) */
    --color-primary-700: 0.457 0.24 277.023; /* oklch(.457 .24 277.023) */
    --color-primary-800: 0.398 0.195 277.366; /* oklch(.398 .195 277.366) */
    --color-primary-900: 0.359 0.144 278.697; /* oklch(.359 .144 278.697) */
    --color-primary-950: 0.289 0.092 279.918; /* oklch(.269 .098 279.918) */

    --color-gray-50: 0.985 0.002 247.839; /* oklch(.985 .002 247.839) */
    --color-gray-100: 0.967 0.003 264.542; /* oklch(.967 .003 264.542) */
    --color-gray-200: 0.928 0.006 264.531; /* oklch(.928 .006 264.531) */
    --color-gray-300: 0.872 0.01 258.338; /* oklch(.872 .01 258.338) */
    --color-gray-400: 0.707 0.022 261.325; /* oklch(.707 .022 261.325) */
    --color-gray-500: 0.551 0.027 264.364; /* oklch(.551 .027 264.364) */
    --color-gray-600: 0.446 0.03 256.802; /* oklch(.446 .03 256.802) */
    --color-gray-700: 0.373 0.034 259.733; /* oklch(.373 .034 259.733) */
    --color-gray-800: 0.278 0.033 256.848; /* oklch(.278 .033 256.848) */
    --color-gray-900: 0.21 0.034 264.665; /* oklch(.21 .034 264.665) */
    --color-gray-950: 0.13 0.028 261.692; /* oklch(.13 .028 261.692) */

    --color-white: 100% 0 0; /* oklch(100% 0 0) */
    --color-black: 0% 0 0; /* oklch(0% 0 0) */
    --color-destructive: 56.92% 0.21 25.92; /* oklch(56.92% 0.21 25.92) */

    --color-background: var(--color-white);
    --color-foreground: var(--color-gray-950);

    --background: var(--color-background);
    --foreground: var(--color-foreground);
    --card: var(--color-background);
    --card-foreground: var(--color-foreground);
    --popover: var(--color-background);
    --popover-foreground: var(--color-foreground);
    --primary: var(--color-primary-600);
    --primary-foreground: var(--color-white);
    --secondary: var(--color-gray-200);
    --secondary-foreground: var(--color-foreground);
    --muted: var(--color-gray-200);
    --muted-foreground: var(--color-gray-600);
    --layer: var(--color-gray-100);
    --layer-foreground: var(--color-foreground);
    --accent: var(--color-gray-100);
    --accent-foreground: var(--color-foreground);
    --destructive: var(--color-destructive);
    --destructive-foreground: var(--color-white);
    --border: var(--color-gray-200);
    --input: var(--color-gray-100);
    --ring: var(--color-primary-600);
    --link: var(--color-primary-600);

    --chart-1: 55.65% 0.24 261.95; /* oklch(55.65% 0.24 261.95) */
    --chart-2: 62.91% 0.1 192.36; /* oklch(62.91% 0.1 192.36) */
    --chart-3: 66.89% 0.19 357.26; /* oklch(66.89% 0.19 357.26) */
    --chart-4: 64.06% 0.16 246.5; /* oklch(64.06% 0.16 246.5) */
    --chart-5: 66.62% 0.2 22.13; /* oklch(66.62% 0.2 22.13) */

    --radius: 0.3rem;

    --sidebar-background: var(--background);
    --sidebar-foreground: var(--color-gray-800);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }
  .dark {
    --color-background: var(--color-gray-950);
    --color-foreground: var(--color-white);

    --background: var(--color-background);
    --foreground: var(--color-foreground);
    --card: var(--color-gray-900);
    --card-foreground: var(--color-foreground);
    --popover: var(--color-gray-900);
    --popover-foreground: var(--color-foreground);
    --primary: var(--color-primary-600);
    --primary-foreground: var(--color-foreground);
    --secondary: var(--color-gray-800);
    --secondary-foreground: var(--color-foreground);
    --muted: var(--color-gray-800);
    --muted-foreground: var(--color-gray-400);
    --layer: var(--color-gray-900);
    --layer-foreground: var(--color-foreground);
    --accent: var(--color-gray-900);
    --accent-foreground: var(--color-foreground);
    --destructive: var(--color-destructive);
    --destructive-foreground: var(--color-foreground);
    --border: var(--color-gray-800);
    --input: var(--color-gray-800);
    --ring: var(--color-gray-100);

    --chart-1: 62.65% 0.24 261.95; /* oklch(62.65% 0.24 261.95) */
    --chart-2: 68.91% 0.1 192.36; /* oklch(68.91% 0.1 192.36) */
    --chart-3: 69.89% 0.19 357.26; /* oklch(69.89% 0.19 357.26) */
    --chart-4: 69.06% 0.16 246.5; /* oklch(69.06% 0.16 246.5) */
    --chart-5: 69.62% 0.2 22.13; /* oklch(69.62% 0.2 22.13) */

    --sidebar-background: var(--background);
    --sidebar-foreground: var(--color-gray-200);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
